.App {
  text-align: center;
}

.App-body {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
}

.left-pane,
.right-pane {
  width: 50%;
  padding: 0 1rem;
}

.right-pane {
  text-align: left;
}

.radio-button {
  width: 70%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-right {
  display: flex;
  flex-direction: column;
}

.heading {
  align-self: center;
  margin: 0 1rem;
}

.data-entry-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.data-entry-section-with-subsections {
  display: flex;
  flex-direction: row;
}

.data-entry-subsection {
  width: 50%;
  padding: 0 0.25rem;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.form-group {
  padding: 1px 6px;
}

.form-input {
  width: 4rem;
}

.form-input[type='number'] {
  width: 3rem;
}

.game-input {
  width: 8rem;
}

.table-list {
  padding-left: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.table-row {
  display: flex;
  flex-direction: row;
}

@media (max-width: 800px) {
  .table-row {
    flex-direction: column;
    padding: 1.5rem 0;
  }
}

.result-list-item {
  list-style: none;
}

.button {
  margin: 1.5rem;
}

.remove-button {
  background-color: #eb4034;
  color: white;
  font-weight: bolder;
}

.run-button {
  background-color: rgb(140, 185, 253);
  height: 3rem;
  width: 7rem;
  font-size: medium;
  font-weight: bold;
}

.download-button {
  font-size: medium;
}
